
span{
  display: inline-block !important;
  padding:.5rem 1.3rem;
  border-radius: 1rem;
  font-size: .9rem;
  font-weight: lighter;
}

.secondary{
  border:1px solid var(--border-color);
  background-color: transparent;
  color:#000;
}

.finish{
  border:1px solid var(--main-color-checked) ;
  background-color: var(--main-color-checked);
  color:#fff;
}
