   <p>{{data().title}}</p>
   <div class="options">
     @for (option of data().options; track $index; let i = $index) {
         <div class="option">
        <span>{{option}}</span>
       </div>
    }
   </div>
   <div class="navigations">
      <app-site-main-btn [message]="'Back'" (click)="onBoardingNavigate(data().backNavigation)"></app-site-main-btn>
      <div>
            <span (click)="onSkipClick()">Skip</span>
            <app-site-main-btn [message]="data().ContinueMessage" (click)="onBoardingNavigate(data().nextNavigation)"></app-site-main-btn>
      </div>
   </div>

